[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "2.0.1"
flask-sqlalchemy = "*"
requests = "*"
db-sqlite3 = "*"
request = "*"
python-dateutil = "*"
pytz = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.8"
