{% extends "layout.html" %}
{% block content %}
{% block head %}
{% endblock %}

<style>

.btn-controls {
    padding: 10%;
    width: align-self: auto;
    height: align-self: auto;

}
.a {
    color: white;
    background-color:rgb(51, 78, 100);
    padding: 60px 20px;
    border-color: white;
    border-radius: 15px;
    border-width: 5px;
    opacity: 0.8;
    transition: 0.3s;
    display: inline-block;
}
.a:hover {opacity: 1}

.b {
    color: white;
    background-color:rgb(51, 78, 100);
    padding: 60px 20px;
    border-color: white;
    border-radius: 15px;
    border-width: 5px;
    opacity: 0.8;
    transition: 0.3s;
    display: inline-block;
}
.b:hover {opacity: 1}
.c {
    color: white;
    background-color:rgb(51, 78, 100);
    padding: 60px 20px;
    border-color: white;
    border-radius: 15px;
    border-width: 5px;
    opacity: 0.8;
    transition: 0.3s;
    display: inline-block;
}
.c:hover {opacity: 1}
.d {
    color: white;
    background-color:rgb(51, 78, 100);
    padding: 60px 20px;
    border-color: white;
    border-radius: 15px;
    border-width: 5px;
    opacity: 0.8;
    transition: 0.3s;
    display: inline-block;
}
.d:hover {opacity: 1}
.d:hover {opacity: 1}

.grid_container {
  display: grid;
  grid-column-gap: 50px;
  grid-template-columns: auto auto auto;
  background-color: rgb(51, 78, 100);
  padding: 10px;
}
.grid_one {
  background-color: rgba(255, 255, 255, 0.8);
  border: 8px solid rgba(0, 0, 0, 0.8);
  padding: 10px;
  font-size: 20px;
  text-align: center;
}





</style>
<body>
<center>
{% if watering == True %}
<img src="static/images/watering.gif" width="150" height="100">
<h6>System Cycle Running...</h6>
{% else %}
<h4>{{ func }}</h4>
{% endif %}
</center>
   <center>
<div class="btn-group">
        <button class="a" onclick="window.location.href = '{{ url_for("settings") }}';">System Settings</button>
        <button class="b" onclick="window.location.href = '{{ url_for("manual") }}';">Manual Control</button>
        <button class="c" onclick="window.location.href = '{{ url_for("water") }}';">Water History</button>
        <button class="d" onclick="window.location.href = '{{ url_for("weather") }}';">Weather History</button>

</div>
<br>
</br>
</br>
<h2>Current Schedule</h2>
<div class="grid_container"> 

<div class="grid_one">Zone 1</div>
<div class="grid_one">Zone 2</div>
<div class="grid_one">Zone 3</div>
<div class="grid_one">Zone 4</div>
<div class="grid_one">Zone 5</div>
<div class="grid_one">Zone 6</div>



</div>
</body>

</br>

<footer>
<h6><a href ="https://darksky.net/poweredby/">Powered by Dark Sky</a></h6>
</footer>
</center>
{% endblock content %}