{% extends "layout.html" %}
{% block content %}
{% block head %}

<style>
body {
        text-align: center;

}

</style>
{% endblock %}
<body>
    <div class="container">
        <div class="row">
                        <div class="col-md-12 text-center">
        <div class="btn-group">
        <div class="btn-group"><form method = "post" action="/manual">

        <div class="btn-group">
        <input type="submit" class="btn btn-primary btn-lg" value="ON" name="mv_on"/>
        <input type="submit" class="btn btn-dark btn-lg" value="OFF" name="mv_off"/>
        </div>
</div>
</form>
</div>
</div>
<br>
<br>
<br>
<br>
<div class="container">
        <div class="row">
                        <div class="col-md-12 text-center">
        <div class="btn-group">
        <div class="btn-group"><form method = "post" action="/manual">

        <div class="btn-group">
        <input type="submit" class="btn btn-success btn-lg" value="ON" name="z1_on"/>
        <input type="submit" class="btn btn-dark btn-lg" value="OFF" name="z1_off"/>
        </div>
        
        <div class="btn-group">
        <input type="submit" class="btn btn-success btn-lg" value="ON" name="z2_on"/>
        <input type="submit" class="btn btn-dark btn-lg" value="OFF" name="z2_off"/>
        </div>

        <div class="btn-group">
        <input type="submit" class="btn btn-success btn-lg" value="ON" name="z3_on"/>
        <input type="submit" class="btn btn-dark btn-lg" value="OFF" name="z3_off"/>
</div>
</form>
</div>
</div>
<br>
<br>
<br>

<div class="container">
        <div class="row">
                        <div class="col-md-12 text-center">
                <div class="btn-group">
                <div class="btn-group"><form method = "post" action="/manual">
        
                <div class="btn-group">
                <input type="submit" class="btn btn-success btn-lg" value="ON" name="z4_on"/>
                <input type="submit" class="btn btn-dark btn-lg" value="OFF" name="z4_off"/>
                </div>
                
                <div class="btn-group">
                <input type="submit" class="btn btn-success btn-lg" value="ON" name="z5_on"/>
                <input type="submit" class="btn btn-dark btn-lg" value="OFF" name="z5_off"/>
                </div>
        
                <div class="btn-group">
                <input type="submit" class="btn btn-success btn-lg" value="ON" name="z6_on"/>
                <input type="submit" class="btn btn-dark btn-lg" value="OFF" name="z6_off"/></div>
        </form>
        </div>
        </div>



</body>
</html>
{% endblock content %}
